@charset "utf-8";

/*公用*/

.comWidth {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.leftArea {
	float: left;
}

.rightArea {
	float: right;
}

.hide {
	display: none;
}

.show {
	display: block;
}


/*topBar*/

.topBar {
	height: 31px;
	background-color: #F7F7F7;
	line-height: 31px;
	width: 100%;
}

.collection {
	background: url(../images/icon/collection.png) left center no-repeat;
	padding-left: 19px;
	font-weight: bold;
}

.topBar a:hover {
	color: red;
}


/*logo*/

.logoBar {
	height: 85px;
	background-color: #1D7AD9;
}

.logo {
	padding-left: 41px;
	padding-top: 13px;
}


/*search*/

.search_box {
	width: 430px;
	margin-top: 23px;
	margin-left: 183px;
}


/*.search_text {
	width: 350px;
	height: 14px;
	line-height: 14px;
	padding: 11 5 10px;
	background: white;
}*/

.search_text {
	width: 350px;
	height: 35px;
	line-height: 35px\9;
	/*css hack \9所有的ie浏览器*/
	padding: 0 5px;
	background: white;
}

.search_btn {
	width: 70px;
	height: 35px;
	font-size: 14px;
	font-family: "微软雅黑", "microsoft yahei";
	background-color: #FF8C00;
	color: white;
}


/*购物车*/

.shopCar {
	width: 145px;
	height: 35px;
	background-color: #FF8C00;
	margin-top: 23px;
	font: 14px/35px "microsoft yahei", "微软雅黑";
	color: white;
	margin-right: 59px;
	display: inline;
	/*针对ie6*/
}

.shopText {
	/*
	font-size: 14px;
	font-family: "微软雅黑", "microsoft yahei";
	line-height:35px;
	*/
	height: 100%;
	width: 87px;
	border-right: #E27A00 solid 1px;
	background: url(../images/icon/shopIcon.png) 10px center no-repeat;
	text-indent: 40px;
}

.shopNum {
	width: 27px;
	height: 35px;
	border-left: #FF9C01 solid 1px;
	background: url(../images/icon/sanjiao.png) 33px center no-repeat;
	text-align: right;
	padding-right: 29px;
}


/*导航*/

.navBox {
	height: 35px;
	background-color: #1369C0;
	color: white;
}

.shopClass {
	width: 190px;
	position: relative;
}

.shopClass h3 {
	line-height: 35px;
	text-align: center;
}

.shopClass i {
	width: 11px;
	height: 7px;
	overflow: hidden;
	background: url(../images/icon/sanjiao_2.png) left center no-repeat;
	display: inline-block;
	margin-left: 11px;
}

.nav,
.shopClass h3 {
	font-family: "微软雅黑", "microsoft yahei";
}

.nav {
	line-height: 35px;
}

.nav li {
	float: left;
}

.nav a {
	height: 35px;
	display: inline-block;
	padding: 0 35px;
	color: white;
}

.nav .active {
	background-color: #4593FD;
}


/*商品弹出列表*/

.showClass_show {
	background-color: #4593FD;
	position: absolute;
	left: 0;
	top: 35;
	width: 100%;
	padding-bottom: 1px;
}

.shopClass_item {
	padding: 13px 10px;
	border-bottom: #3487F2 solid 1px;
	border-top: #5AA1FE solid 1px;
	line-height: 16px;
}

.shopClass_item dt {
	height: 21px;
	/*1em=16px*/
	line-height: 1;
	/*针对ie6*/
	overflow: hidden;
	/*针对ie6*/
	background: url(../images/icon/sanjiao_3.png) right center no-repeat;
}

.shopClass_item .b {
	/*
	font-family: "微软雅黑", "microsoft yahei";
	font-size: 14px;
	font-weight: bold;
	*/
	font: 14px/1 "微软雅黑", "microsoft yahei";
}

.shopClass_item a {
	color: white;
}

.shopClass_item a:hover {
	text-decoration: underline;
}

.shopClass_item .aLink {
	width: 48px;
	height: 20px;
	background: url(../images/icon/aLink_bg.png) left center no-repeat;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	text-decoration: underline;
}


/*shopClass_item active 状态*/

.shopClass_active {
	background-color: white;
	border-left: #4593FD solid 1px;
}

.shopClass_active dt {
	background: none;
}

.shopClass_active a {
	color: black;
} //样式选择器,以 后出现 的样式为准

/*↓这个显示不出来*/

.shopClass_active .aLink {
	color: white;
	text-decoration: none;
}


/*弹出的菜单*/

.shopClass_list {
	width: 589px; //高度想要自适应,就不要写明高度...
	/*这个边框显示不出来*/
	border: #CCC solid 1px;
	position: absolute;
	left: 190px;
	top: 35px;
}

.shopList_item {
	padding: 10px 0;
	border-bottom: #CCC solid 1px;
}

.shopClass_cont {
	padding: 0px 20px;
}

.shopList_item dt {
	color: #4B87D6;
	line-height: 24px;
	font-weight: bold;
	height: 24px;
}

.shopList_item dd {
	padding-left: 68px;
	line-height: 24px;
	margin-top: -24px;
}

.shopList_item dd a {
	margin-left: 12px;
}

.shopList_links {
	padding: 15px 0;
}

.shopList_links a {
	color: white;
	background-color: #2785E6;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	display: inline-block;
	padding: 0 14px 0 8px;
	margin-right: 10px;
}

.shopList_links span {
	width: 11px;
	height: 7px;
	background: url(../images/icon/sanjiao_3.png) left center no-repeat;
	display: inline-block;
	margin-left: 7px;
}


/*banner*/

.banner {
	padding-bottom: 15px;
}

.banner_bar {
	/*width: 810px;
	height: 326px;*/
	float: right;
	position: relative;
	overflow: hidden;
}

.imgBox {
	/*width: 1620px;
	height: 326px;*/
	position: absolute;
	left: 0;
	top: 0;
}

.imgBox li {
	float: left;
}

.imgBox img {
	/*width: 810px;
	height: 326px;*/
	display: block;
}

.imgNum {
	position: absolute;
	left: 0;
	bottom: 15px;
	width: 100%;
	text-align: center;
}

.imgNum a {
	width: 20px;
	height: 5px;
	overflow: hidden;
	background-color: white;
	display: inline-block;
	margin: 0 3px;
}

.banner_big,
.banner_big img {
	width: 810px;
	height: 326px;
}

.banner_big .imgBox {
	width: 1620px;
	height: 326px;
}

.banner_sm,
.banner_sm img {
	width: 190px;
	height: 400px;
}

.banner_sm .imgBox {
	width: 380px;
	height: 400px;
}


/*↓这个也显示不出来*/

.imgNum .avtive {
	background-color: #FF7700;
}


/*商品标题*/

.shopTit {
	height: 44px;
	font-family: "微软雅黑", "microsoft yahei";
	line-height: 44px;
	padding-bottom: 15px;
}

.shopTit h3 {
	font-size: 24px;
	float: left;
	font-weight: normal;
	padding-left: 15px;
}

.icon {
	width: 43px;
	height: 43px;
	/*浮動以後内嵌元素支持行高，所以display不需要啦*/
	/*display: inline-block;*/
	/*没有浮动的话一定要有这句啊不然span宽高为0！*/
	background: url(../images/icon/shopIcon_2.png) left top no-repeat;
	float: left;
}

.more {
	float: right;
	font-family: "simsun";
}

.more:hover {
	text-decoration: underline;
}


/*商品列表*/

.shopList .leftArea {
	width: 190px;
	/*高度不给*/
}

.shopList .rightArea {
	width: 808px;
	/*810px的时候由于清了浮动，会导致整块掉下去，因为横着放不下啊啊啊~*/
	border: #999999 solid 1px;
	border-bottom: #FF7201 solid 3px;
	height: 396px;
	/*高度+上下宽度才是实际高度*/
	overflow: hidden;
	/*多出来就隐藏掉*/
}


/*商品列表-右侧*/

.shopList {
	margin-bottom: 15px;
}

.shopList_top,
.shopList_sm {
	margin-right: -4px;
}

.shop_item {
	width: 202px;
	border-right: #999999 solid 1px;
	border-bottom: #999999 solid 1px;
	height: 279px;
	text-align: center;
	font-family: "微软雅黑", "microsoft yahei";
	float: left;
}

.shop_img {
	height: 218px;
}

.shop_img img {
	width: 100%;
	/*和父级一样宽*/
	height: 218px;
	display: block;
}

.shop_item h3 {
	font-size: 16px;
}

.shop_item p {
	font-size: 14px;
	color: #FF7300;
	line-height: 21px;
}


/*商品列表-小*/

.shopItem_sm {
	width: 202px;
	border-right: #999999 solid 1px;
	height: 106px;
	padding-top: 10px;
	float: left;
}

.shopItem_smImg {
	width: 95px;
	height: 95px;
	text-align: center;
	float: left;
}

.shopItem_smImg img {
	width: 95px;
	height: 95px;
}

.shopItem_text {
	padding-top: 28px;
	width: 100px;
	float: left;
}

.shopItem_text p {
	color: #FF7300;
}

.shopItem_text h3 {
	font-family: "微软雅黑", "microsoft yahei";
	font-size: 16px;
	font-weight: normal;
	color: #181818;
	line-height: 30px;
}

.hr_25 {
	height: 25px;
}
.hr_45 {
	height: 45px;
}
.hr_7 {
	height: 7px;
	overflow: hidden;
}

.hr_15 {
	height: 15px;
	overflow: hidden;
}


/*底部*/

.footer {
	text-align: center;
	background-color: #D4D4D4;
	line-height: 24px;
	padding: 50px 0;
}

.footer i {
	/*↓不知道为什么视频里没有这句话竖线会变成斜体*/
	font-style: normal;
	margin: 0 5px;
}

.footer a {
	color: black;
}

.footer a:hover {
	color: #F60;
}

.web {
	padding-top: 30px;
}

.web img {
	/*感觉这个效果没出来*/
	margin: 0, 12px;
}


/*产品分类*/

.products .leftArea {
	width: 185px;
}

.products .rightArea {
	width: 810px;
}

.products .banner_bar {
	float: none;
}

.products .item {
	width: 25%;
	*width: 24.9%;
	margin-bottom: 10px;
}


/*产品分类导航*/

.leftNav {
	background-color: #F3F3F3;
	border: #D7D7D7 solid 1px;
}

.nav_title {
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	border-bottom: #D7D7D7 solid 1px;
	text-align: center;
}

.nav_cont {
	padding: 0 18px 4px;
	/*上 左右 下*/
	border-bottom: #D7D7D7 1px dotted;
	margin-bottom: -1px;
}

.nav_cont h3 {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	/*没这句文字就顶天了*/
}

.navCont_list {
	line-height: 25px;
}

.navCont_list li {
	float: left;
	width: 50%;
}

.vertical li {
	width: auto;
	float: none;
	padding-left: 8px;
}

.vertical .nav_title,
.vertical .nav_cont h3 {
	font-family: "微软雅黑", "microsoft yahei";
	font-size: 14px;
}


/*标题*/

.products_title {
	height: 34px;
	border-bottom: #CCCCCC solid 2px;
}

.products_title h3 {
	width: 180px;
	border-bottom: #096DBA solid 2px;
	height: 34px;
	line-height: 34px;
	text-indent: 9px;
	/*首行缩进*/
	/*子元素不能超过父级*/
	margin-bottom: -2px;
	position: relative;
}

.item {
	float: left;
	height: 265px;
	position: relative;
}

.item_cont {
	padding: 0 15px;
}

.img_item {
	height: 170px;
	text-align: center;
}

.img_item img {
	height: 170px;
}

.item p {
	line-height: 20px;
}

.item a:hover {
	text-decoration: underline;
}

.money {
	color: #D4105A;
	font-weight: bold;
	padding-top: 10px;
}

.stars {
	width: 13px;
	height: 12px;
	overflow: hidden;
	background: url(../images/icon/star.png) left top no-repeat;
	display: inline-block;
	/*内嵌元素*/
	margin-right: 1px;
}

.hot {
	width: 52px;
	height: 52px;
	background: url(../images/icon/hot.png) left top no-repeat;
	position: absolute;
	right: 0;
	top: 0;
}


/*筛选*/

.screening {
	border-bottom: #CCCCCC solid 1px;
	font-family: verdana;
}

.screening dt {
	line-height: 32px;
	width: 74px;
	text-align: right;
	float: left;
	margin-right: 42px;
}

.limit {
	width: 55px;
	float: left;
	line-height: 32px;
}

.screening .active {
	background-color: #1D7AD9;
	color: white;
}

.screening a {
	padding: 2px;
}

.screening_list {
	line-height: 32px;
	width: 626px;
	float: left;
}

.screening_list li {
	width: 20%;
	float: left;
}

.screen_more {
	border: #CCCCCC solid 1px;
	height: 23px;
	line-height: 23px;
	margin-top: 4px;
	float: left;
	padding-right: 11px;
	padding-left: 11px;
	margin-right: 10px;
}

.screen_more a {
	background: url(../images/icon/sj_gray.png) right center no-repeat;
	padding-right: 14px;
}

.addInfo {
	height: 31px;
	border: #CCCCCC solid 1px;
	background-color: #F5F5F5;
}

.address {
	float: left;
}

.add_text {
	float: left;
	line-height: 31px;
	padding-left: 12px;
	padding-right: 6px;
}

.addInfo .select {
	margin-top: 4px;
}

.screen_text {
	line-height: 31px;
	padding-right: 80px;
}

.check {
	position: relative;
	top: -2px;
	_top: 4px;
	/*下划线top？？*/
}

.shop_number {
	position: relative;
	_top: 4px;
}

.check input,
.check label {
	vertical-align: middle;
}

.shop_number em {
	color: red;
	font-style: normal;
	font-weight: bold;
}

.screen_text span {
	vertical-align: middle;
}

.addCar {
	border: #999999 solid 1px;
	height: 22px;
	display: inline-block;
	padding: 0 6px 0 23px;
	background: url(../images/icon/car.png) 6px center no-repeat;
}

.screening_list_more {
	padding-left: 0.5%;
}

.screening_list_more .item {
	width: 33.3%;
}


/*page*/

.page {
	text-align: center;
	position: relative;
	z-index: 2;
}

.page a {
	height: 24px;
	display: inline-block;
	line-height: 24px;
	border: #CCCCCC solid 1px;
	padding: 0 12px;
	margin: 0 2px;
}

.page .hl {
	display: inline-block;
	padding: 0 12px;
	margin: 0 2px;
}

.morePage {
	padding-left: 14px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
}

.pageNum {
	width: 29px;
	padding: 0 3px;
	border: #CCCCCC solid 1px;
	height: 24px;
	line-height: 24px\9;
	/*\9让所有的ie认识*/
	text-align: center;
	margin-left: 4px;
}

.page_btn {
	width: 44px;
	height: 24px;
	line-height: 24px;
	background-color: #E8E8E8;
	border: #CCCCCC solid 1px;
}

.ye {
	padding: 0 8px 0 6px;
}

.page a,
.page span,
.page input {
	vertical-align: middle;
	position: relative;
}


/*组件*/

.select {
	border: #999999 solid 1px;
	height: 22px;
	line-height: 22px;
	float: left;
	background-color: white;
	padding-left: 10px;
	padding-right: 20px;
	position: relative;
	z-index: 4;
}

.select h3 {
	font-size: 12px;
	font-weight: normal;
}

.select span {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 20px;
	background: url(../images/icon/sj_blue.png) center center no-repeat;
}

.show_select {
	position: absolute;
	left: -1px;
	top: 22px;
	background-color: #FFFFFF;
	width: 100%;
	border: #999999 solid 1px;
	display: none;
}

.show_select li {
	padding-left: 10px;
}


/*商品介绍*/

.grey {
	background-color: #F0F0F0;
}


/*位置*/

.userPosition {
	font-size: 0;
	font-family: verdana;
	margin-top: 25px;
	margin-bottom: 15px;
}

.userPosition em,
.userPosition span,
.userPosition strong,
.userPosition a {
	font-size: 12px;
}

.userPosition em {
	font-style: normal;
}

.userPosition a:hover {
	text-decoration: underline;
}

.description_info {
	background-color: white;

}
.description{
	border:#CCCCCC solid 1px;
}
.description .leftArea {
	width: 309px;
}

.description .rightArea {
	width: 688px;
	border-left: #CCCCCC solid 1px;
}

/*图片展示*/
.description_imgs .big{
	height: 340px;
	text-align: center;
}
.des_smimg{
	padding-left: 1px;
	width:265px;
	margin:0 auto;
}
.des_smimg li{
	float: left;
	margin-left: -1px;
}

.des_smimg img{
	border:#CCCCCC solid 1px;
}

.des_smimg .active{
	border-color:#317EE7;
	position: relative;
}

.des_content{
	padding: 10px;
}

.des_content_tit{
	font:bold 16px/22px "microsoft yahei","微软雅黑";
	padding: 13px 20px;
}
.des_content .dl{
	margin-bottom: 8px;
}
.des_content .dt{
	width: 75px;
	float: left;
	color:#666666;
	text-indent: 17px;
	line-height: 25px;
}

.des_content .dd{
	padding-left: 75px;
	*padding-left: 0;
}

.des_money{
	font-size: 18px;
	color:#FF7300;
	font-family: Verdana;
}

.des_money em{
	font-style: normal;
	font-size: 12px;
}
/*换购*/
.hg{
	padding-top: 4px;
	display: inline-block;
}
.hg_icon{
	width: 55px;
	height: 18px;
	display: inline-block;
	background: url(../images/icon/hg_icon.png) left top no-repeat;
	color: white;
	font-style: normal;
	text-indent: 16px;
	line-height: 18px;
	margin-right: 10px;
	float: left;
}
.hg em{
	float: left;
	font-style: normal;
	line-height: 18px;
}
/*送货*/
.des_position{
	background-color: #F2F2F2;
	padding: 15px 0;
}

.theGoods{
	line-height: 24px;
	padding-left: 10px;
}
.des_content .colorSelect{
	line-height: 35px;
}
.des_item{
	color:#666666;
	padding: 9px 10px;
	border:#CCCCCC solid 1px;
	float: left;
	background-color: white;
	margin-right: 10px;
}

.des_item_active{
	border-color: #317EE7;
	color: black;
}

.des_item_sm{
	padding: 3px 7px;
	margin-bottom: 8px;
}

.des_content .des_select_more{
	line-height: 55px;
}
.des_number{
	border:#B2B2B2 solid 1px;
	height: 32px;
	width: 82px;
	float: left;
}

.des_number div{
	height: 100%;
	float: left;
}
.reduction,.plus{
	width: 15px;
	background: url(../images/plus_bg.png) left top no-repeat;
	line-height: 32px;
	text-align: center;
	color:black;
}
.reduction{
	border-right: #CCCCCC solid 1px;
}
.plus{
	border-left: #CCCCCC solid 1px;
}
.des_input{
	width: 42px;
	background: url(../images/icon/des_input_bg.png) left top no-repeat;
	padding:0 4px;
	overflow: hidden;
}

.des_input input{
	width: 100%;
	height: 32px;
	line-height: 32px\9;
	text-align: center;
}

.xg{
	line-height: 32px;
	float:left;
	padding-left: 10px;
	font-weight: bold;
	color:#656565;
}

.xg em{
	color:#FB7700;
	font-style: normal;
}

.des_content .des_num{
	line-height: 32px;
}
/*已选择*/
.des_select{
	font-weight: bold;
	margin: 22px 0 12px;
	text-indent: 17px;
}

.des_select span{
	color:#0479C9;
}

.shop_buy{
	text-align: center;
}
.shopping_btn,.buy_btn{
	display: inline-block;
	width: 184px;
	height: 48px;
	background: url(../images/icon/buy_btn.png) left top no-repeat;
}

.line{
	width: 1px;
	height: 90px;
	overflow: hidden;
	background-color: #CCCCCC;
	display: inline-block;
	margin: 0 40px;
}
.line,.shopping_btn,.buy_btn{
	vertical-align: middle;
}
.notes{
	color: #CCCCCC;
	text-indent: 17px;
}
/*产品介绍*/
.des_info .leftArea{
	width: 190px;
}
.des_info .rightArea{
	width: 790px;
}

.recommend{
	border: #CCCCCC solid 1px;
	background-color: white;
	padding-bottom: 15px;
}

.recommend .tit{
	height: 39px;
	border-bottom: solid 1px #CCCCCC;
	line-height: 39px;
	text-indent: 15px;
	font-size: 14px;
	background-color: #F3F3F3;
}

.recommend .item{
	float:none;
	height: auto;
}

.recommend .money{
	padding-top: 0;
}
/*详细介绍*/
.des_infoContent{
	border:#CCCCCC solid 1px;
	background-color: white;
}

.des_tit{
	height: 39px;
	border-bottom: #CCCCCC solid 1px;
	background: url(../images/icon/des_tit.png) left top repeat-x;
}

.des_tit li{
	float:left;
	width: 50%;
	/*font-size: 14px;*/
	/*line-height: 39px;*/
	font:14px/39px "宋体";
	text-align: center;
	border-left:#CCCCCC solid 1px;
	margin-left: -1px;
}

.des_tit .active{
	background-color: #0479CA;
	font-weight: bold;
	color:white;
	position: relative;/*浏览器兼容*/
}

.des_tit span{
	background: url(../images/icon/des_tit_icon.png) left center no-repeat;
	padding-left: 32px;
	display: inline-block;
	line-height: 39px;
}
.ad{
	padding:30px 0;
	text-align: center;
}

.info_tit{
	height: 26px;
	border-bottom: #CCCCCC solid 1pxe;
	font-family: "microsoft yahei","微软雅黑";
	margin-bottom: 18px;
}

.info_tit h3{
	float: left;
	font-size: 16px;
	color: #2357A5;
	border-bottom: #2357A5 solid 1px;
	height: 26px;
	margin-bottom: -1px;/*浏览器兼容*/
	position: relative;/*浏览器兼容*/
	padding-right: 8px;
}

.info_tit h4{
	font-size: 12px;
	line-height: 26px;
	padding-left: 4px;
	color:#656565;
}
.info_text{
	padding:0 20px;
}
.info_text p{
	line-height: 22px;
	font-size: 14px;
}
.center{
	display: block;
	margin:0 auto;
}
